{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <title>Panel użytkownika</title>
        <script>
        function navbar(location) {
            document.getElementById("frame").src = "{% url 'search' %}".replace(/search/, location.toString());
        }
    </script>
</head>
<body>
<div class="nav-bar">
    <div class="nav-left">
        <ul>
            <a onClick="navbar('');">
                <li>Home</li>
            </a>
            <a onClick="navbar('search');">
                <li>Szukaj</li>
            </a>
            <a onClick="navbar('watched');">
                <li>Lista</li>
            </a>
            <a onClick="navbar('recommend');">
                <li>Rekomendacje</li>
            </a>
        </ul>
    </div>

    <div class="nav-right">
        <ul>
            <a class="nav-text">
                <li>Witaj {{ request.user }}!</li>
            </a>
            <a href="{% url 'logout' %}">
                <li>Wyloguj</li>
            </a>
        </ul>
    </div>


</div>
<div>
    <iframe id="frame" title="content"></iframe>
    <p class="home-text">Hej! Możesz teraz wyszukiwać filmy, dodawać i usuwać je do listy,
        oraz wyświetlać swoje rekomendacje. Skorzystaj z paska nawigacji na górze.</p>
</div>
</body>
</html>
