{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <title>Logowanie</title>
</head>
<body>
<div class="wrapper">
    <div class="form-content">
        <h2 class="active">Logowanie</h2>
        <h2 class="inactive underline-hover"><a href="{% url 'register' %}">Rejestracja</a></h2>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="login"></label>
            <input type="text" id="login" name="login" placeholder="login" autofocus>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="hasło">
            <input type="submit" value="zaloguj">
        </form>
        <div class="form-footer">
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>

