{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <title>Rejestracja</title>
</head>
<body>
<div class="wrapper">
    <div class="form-content">
        <h2 class="inactive underline-hover"><a href="{% url 'login' %}">Logowanie</a></h2>
        <h2 class="active">Rejestracja</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password1 }}
            {{ form.password2 }}
            <input type="submit" value="zarejestruj">
        </form>
        <div class="form-footer">
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    const form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = 'login';
    form_fields[2].placeholder = 'hasło';
    form_fields[3].placeholder = 'powtórz hasło';
</script>
</body>
</html>